acmart.cls
acmart.pdf
acmguide.pdf
samples/sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.fdb_latexmk
*.bbl
*.blg
*.synctex.gz
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
# Remove when done
rodriguez-alagang-mmc.pdf 
samples/ACM-Reference-Format.bst
samples/*.tex
samples/*.bbx
samples/*.cbx
samples/*.dbx
samples/sample-base.bib
samples/sample-franklin.png
samples/samples.dtx
samples/samples.ins
samples/sampleteaser.pdf
